<%# fast_eval_Parkinsons/src/app/views/uploads/show.html.erb %>
<main>
  <%= render "partials/header" %>

  <div class="container-fluid px-4">
    <div class="row">
      
      <!-- flex-shrink-0 p-3 bg-grey -->
      <%= render "dashboard/partials/sidebar" %>
      
      <div class="col-md-9 ms-sm-auto col-lg-9 px-md-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          <h1 class="h2"><%= "#{@hand_pos}: #{@upload.video.filename.base}" %></h1>
          
          <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group me-2">
              <% if @hand_pos != "Please select the feature type." %>
                
                <% if @upload.status == 'done' %>
                  <%= link_to "Download all results", rails_blob_path(@upload.results.blobs[0], disposition: 'attachment'), class: "btn btn-sm btn-outline-secondary" %>
                  <%= link_to "annotated mp4", rails_blob_path(@upload.results.blobs[1], disposition: 'attachment'), class: "btn btn-sm btn-outline-secondary" %>
                  <%= link_to "raw keypoint", rails_blob_path(@upload.results.blobs[2], disposition: 'attachment'), class: "btn btn-sm btn-outline-secondary" %>
                  <%= link_to "hand-params image", rails_blob_path(@upload.results.blobs[3], disposition: 'attachment'), class: "btn btn-sm btn-outline-secondary" if @upload.results.blobs[3] != nil %>
                <% else %>
                  <%= link_to "Download mp4", rails_blob_path(@upload.video, disposition: 'attachment'), class: "btn btn-sm btn-outline-secondary" %>
                <% end %>
              <% end %>
            </div>
          </div>

        </div>
        <% if @hand_pos != "Please select the feature type." %>
          <%= render "uploads/partials/show" %>
          <% if @upload.archived == true %>
            <%= link_to "Back to archive", dashboard_archive_path(hand_pos: @upload.hand_pos), class: "btn btn-sm btn-outline-secondary", data: {turbo: false}  %>
          <% else %>
            <%= link_to "Back to overview", dashboard_index_path(hand_pos: @upload.hand_pos), class: "btn btn-sm btn-outline-secondary", data: {turbo: false}  %>
          <% end %>
        <% end %>
        
      </div>
    </div>
  </div>

  <%= render "partials/footer" %>
</main>

