<main>
  <%= render "partials/header" %>

  <div class="container-fluid px-4">
    <div class="row">
      
      <!-- flex-shrink-0 p-3 bg-grey -->
      <%= render "dashboard/partials/sidebar" %>

      <div class="col-md-9 ms-sm-auto col-lg-9 px-md-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          <h1 class="h2"><%= @hand_pos %></h1>

          <% if @hand_pos != "Please select the feature type." %>
            <%= link_to "Upload new video",  new_upload_path(current_user.id, :hand_pos => params[:hand_pos]), class: "btn btn-sm btn-outline-secondary", data: {turbo: false} %>
          <% end %>

        </div>

        <% if @hand_pos != "Please select the feature type." %>
          <h2 class="h3">Left hand</h2>
          <%= render "dashboard/partials/table", uploads: @uploads_L, archive: @archive %>
          <br>
          <h2 class="h3">Right hand</h2>
          <%= render "dashboard/partials/table", uploads: @uploads_R, archive: @archive %>
          <br>
          <h2 class="h3">Not Selected</h2>
          <%= render "dashboard/partials/table", uploads: @uploads_ns, archive: @archive %>
          <p> Note: Please unarchive to make your file available to edit. </p>
        <% end %>

      </div>
    </div>
  </div>

  <%= render "partials/footer" %>
</main>
