<div class="overflow-auto">
<br>
<% if @upload.status == 'done' %>
    <div class="row" style="width:900px">
        <div class="col-4 d-flex justify-content-center">
            <%= video_tag(url_for(@upload.results.blobs[1]), class: "rounded", height: "450vh", :controls => true,  muted: true, :autoplay => true)%>
        </div>
        <div class="col-5 d-flex justify-content-center">
            <%= image_tag(url_for(@upload.results.blobs[3]), height: "450vh") if @upload.results.blobs[3] != nil %>
        </div>
        <div class="col-3 d-flex justify-content-center">
            <ul class="list-unstyled">
                <li> <br></li>
                <li><b> Evaluating hand: </b></li>
                    <ul>
                    <li><%= @upload.hand_LR %></li>
                    </ul>
                <li> <br></li>
                <li><b> Quality control: </b></li>
                    <ul>
                    <% err_frame_ratio = @upload.err_frame_ratio %>
                    <li>error frame ratio: <%= (err_frame_ratio != nil) ? err_frame_ratio.round(3) : "nil" %></li>
                    </ul>
                <li> <br></li>
                <li><b> Deep learning model: </b></li>
                    <ul>
                    <li>predicted UPDRS: <%= @upload.updrs ? @upload.updrs : "out of applicability domain" %></li>
                    </ul>
                <li> <br></li>
                <li><b> Evaluating indices: </b></li>
                    <ul>
                    <% mean_freq = @upload.mean_freq %>
                    <% std_freq = @upload.std_freq %>
                    <% mean_inte = @upload.mean_inte %>
                    <% std_inte = @upload.std_inte %>
                    <% mean_inte_freq = @upload.mean_inte_freq %>
                    <% std_inte_freq = @upload.std_inte_freq %>
                    <% mean_peak = @upload.mean_peak %>
                    <% std_peak = @upload.std_peak %>
                    <li>(TOP) frequency: <%= (mean_freq != nil) ? "#{mean_freq.round(1)} ± #{std_freq.round(1)} (Hz)" : "nil" %></li>
                    <li>(TOP) intensity: <%= (mean_inte != nil) ? "#{mean_inte.round(3)} ± #{mean_inte.round(3)} (A.U.)" : "nil" %> </li>
                    <li>(TOP) inte-freq: <%= (mean_inte_freq != nil) ? "#{mean_inte_freq.round(3)} ± #{std_inte_freq.round(3)} (A.U./s)" : "nil" %> </li>
                    <li>(MIDDLE) peak: <%= (mean_peak != nil) ? "#{mean_peak.round(2)} ± #{std_peak.round(2)}" : "nil" %> <br> 
                        <%= "(distance/thumb-length)" if (mean_peak != nil) %>
                    </li>
                    <li>(BOTTOM) absolute difference of frequency: potentially detect "interrupt" or "hesitate" if the peak is high.</li>
                    </ul>
            </ul>
        </div>
    </div>
<% else %>
    <div class="row" style="min-width:400px">
        <div class="col-md-5 d-flex justify-content-center">
            <%= video_tag(url_for(@upload.video), class: "rounded", height: "450vh", :controls => true,  muted: true, :autoplay => true)%>
            
        </div>
        <br>
        <div class="col-md-5 d-flex justify-content-center"> 
            <b><br>
            Note: The video is assigned to 
            <p class="badge bg-primary"> <%= @upload.hand_LR %> </p>
            hand, please check whether it is correct or edit 
            <%= link_to 'here', edit_upload_path(:id => @upload.id), data: {turbo: false}, class: "badge bg-warning text-dark" %> 
            . </b>
        </div>
    </div>
<% end %>
    <br>
    <p>Note: If the video cannot be played, please download and play it locally.</p>

</div>
<br>


<%# byebug %>