<%= form_with model: upload do |form| %>
  <div>
    <%= form.label :hand_LR, "Choose your video is [ left / right ] hand (current: #{upload.hand_LR}):" %>
    <%= form.select :hand_LR, ['not_selected', 'left', 'right'] %>
    <%= form.hidden_field :hand_pos, value: params[:hand_pos] %>
    <%= form.hidden_field :status, value: "uploaded" %>
  </div>
  <p>
  Please note that the status would be <b>reset to 'uploaded'</b> and 
  your previous <b>predicted results for this video will be cleaned</b>.
  </p>
  <div>
    <%= form.submit "Update info", class: "btn btn-warning" %>
  </div>
<% end %>
