<%= form_for(@upload) do |form| %>
    <%= form.label :hand_LR, 'Choose your video is [ left / right ] hand:' %>
    <%= form.select :hand_LR, ['not_selected', 'left', 'right'], {}, {class: "form-select-sm mb-3"}%>
    <%= form.hidden_field :hand_pos, value: params[:hand_pos] %>
    <%= form.hidden_field :status, value: "uploaded" %>
    <br>

    <%= form.label :video, 'Video upload here (max limit 20MB):', class: "form-label"  %>
    <div class="input-group mb-3">    
        <%= form.file_field :video, class: "btn btn-outline-secondary" %>
        <%= form.submit "Upload", class: "input-group-text" %>
    </div>

<% end %>