<%= render "users/partials/users_header" %>

  <div class="col-lg-7 text-center text-lg-start">
    <h1 class="display-7 fw-bold lh-1 mb-3">Account Details & Edit</h1>
  </div>

  <div class="p-5 p-md-5 border rounded-4 bg-light">
    <h2 class="display-10 fw-bold lh-1 mb-3"><%= resource_name.to_s.humanize %></h2>
    <%= render "users/form/edit_account" %>
    <% if flash[:notice] %>
      <small class= "text-muted"> <%= flash[:notice] %> <br /> </small>
    <% end %>
  </div>
  <br />
  <div class="p-5 p-md-5 border rounded-4 bg-light">
    <h3 class="display-13 fw-bold lh-1 mb-3"> Cancel my account </h3>
    <p class="display-15 fw-bold lh-1 mb-3">Unhappy? 
    <%= button_to "Delete my account", 
    registration_path(resource_name), 
    data: { 
      turbo_method: :delete, 
      turbo_confirm: "[Danger] This operation WOULD NOT be restored. All your data will be deleted."
      }, method: :delete, class: "w-100 btn btn-lg btn-danger" %></p>

  </div>

<%= render "users/partials/users_footer" %>