<%= render "users/partials/users_header" %>

  <div class="col-lg-7 text-center text-lg-start">
    <h1 class="display-7 fw-bold lh-1 mb-3">Sign up</h1>
  </div>

  <div class="col-md-10 mx-auto col-lg-5 p-3">
  <div class="p-5 p-md-5 border rounded-4 bg-light">
    <%= render "users/form/signup" %>
    <% if flash[:alert] %>
      <small class="text-danger"><%= flash[:alert] %><br /></small>
    <% end %>
    <small class="text-muted">By clicking Sign up, you agree to the terms of use.<br /></small>
    <small class="text-muted">If you already have an account, please </small>
    <%= render "users/shared/links" %>
  </div>
  </div>
<%= render "users/partials/users_footer" %>