<div class="table-responsive">
    <table class="table table-striped  table-sm">
        <thead>
            <tr>
            <th scope="col">Name</th>
            <th scope="col">Status</th>
            <th scope="col">Video info</th>
            <th scope="col">Results</th>
            <th scope="col">Timeline</th>
            </tr>
        </thead>
        <tbody>
            <% @counter = 0 %>
            <% uploads.order('created_at DESC').each do |upload| %>
                <tr>
                    <% #byebug %>
                    <% @counter += 1 %>
                    <!-- Name -->
                    <td>
                    <p> <%= upload.video.filename.base %> </p>
                    <div class="btn-group" role="group">
                        <!-- View button -->
                        <%= link_to 'View', upload_path(:id => upload.id), :hand_pos => upload.hand_pos, data: {turbo: false}, class: "btn btn-success" %>
                        
                        <% #byebug %>
                        <% if (upload.status == 'queuing') ^ (upload.status != 'running') %>
                            <br>
                            <%= link_to 'Edit info', edit_upload_path(:id => upload.id), :title => 'Edit info', data: {turbo: false}, class: "btn btn-info" %>
                            <br>

                            <% if upload.hand_LR != 'not_selected' %>
                                <% if upload.status == 'uploaded' %>
                                    <!-- Run analysis button -->
                                    <%= link_to 'Run analysis', do_run_path(:id => upload.id), :title => 'Run analysis', data: {turbo: false}, class: "btn btn-warning" %>
                                    <br>
                                <% end%>
                            <% end %>
                            <!-- Delete button -->
                            <%= link_to 'Delete', upload_path(:id => upload.id), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, :title => 'Delete', class: "btn btn-danger" %>
                        
                        <% end %>
                    </div>
                    </td>
                    
                    <!-- Status -->
                    <td>
                    <%= upload.status %>
                    <% if upload.status == 'fail' %>
                        <p>(Please email to <br> us to report the fail.)</p>
                    <% end %>
                    </td>
                    
                    <!-- Video info -->
                    <td>
                    <ul>
                        <% angle=upload.video.blob.metadata.fetch(:angle, 0).round(0) %>
                        <% duration=upload.video.blob.metadata.fetch(:duration, 0).round(2) %>
                        <% height=upload.video.blob.metadata.fetch(:height, 0).round(0) %>
                        <% width=upload.video.blob.metadata.fetch(:width, 0).round(0) %>
                        <% aspect_ratio=upload.video.blob.metadata.fetch(:display_aspect_ratio, [0,0]) %>
                        <li>content type: <%= upload.video.content_type %> </li>
                        <% if angle != 0 %><li>angle: <%= angle %> degree</li><% end %>
                        <% if duration != 0 %><li>duration: <%= duration %> sec. </li><% end %>
                        <% if height != 0 %><li>height: <%= height %> pixels </li><% end %>
                        <% if width != 0 %><li>width: <%= width %> pixels </li><% end %>
                        <% if aspect_ratio != [0,0] %><li>aspect ratio: <%= aspect_ratio %></li><% end %>
                    </ul>
                    </td>

                    <!-- Results -->
                    <td>
                    
                    <% if upload.status == 'done' %>
                        <ul>                    
                        <% err_frame_ratio = upload.err_frame_ratio %>
                        <% mean_freq = upload.mean_freq %>
                        <% std_freq = upload.std_freq %>
                        <% mean_inte = upload.mean_inte %>
                        <% std_inte = upload.std_inte %>
                        <% mean_inte_freq = upload.mean_inte_freq %>
                        <% std_inte_freq = upload.std_inte_freq %>
                        <% mean_peak = upload.mean_peak %>
                        <% std_peak = upload.std_peak %>
                        <li>error frame ratio: <%= (err_frame_ratio != nil) ? err_frame_ratio.round(3) : "nil" %></li>
                        <li>predicted UPDRS: <%= upload.updrs ? upload.updrs : "out of applicability domain" %></li>
                        <li>mean frequency: <%= (mean_freq != nil) ? "#{mean_freq.round(1)} ± #{std_freq.round(1)} (Hz)" : "nil" %></li>
                        <li>mean intensity: <%= (mean_inte != nil) ? "#{mean_inte.round(3)} ± #{mean_inte.round(3)} (A.U.)" : "nil" %> </li>
                        <li>mean inte-freq: <%= (mean_inte_freq != nil) ? "#{mean_inte_freq.round(3)} ± #{std_inte_freq.round(3)} (A.U./s)" : "nil" %> </li>
                        <li>mean peak: <%= (mean_peak != nil) ? "#{mean_peak.round(2)} ± #{std_peak.round(2)}" : "nil" %> <br> 
                            <%= "(distance/thumb-length)" if (mean_peak != nil) %>
                        </li>
                        </ul>
                    <% else %>
                        <p> Click "Run analysis" to get results. </p>
                    <% end %>
                    
                    </td>

                    <!-- Timeline -->
                    <td>
                    <p> Created at: <%= upload.created_at %> </p>
                    <p> <%= "Retrieved results at: #{upload.retrieved_at}" if upload.retrieved_at? %> </p>
                    <p> Updated at: <%= upload.updated_at %> </p>
                    </td>

                </tr>
            <% end %>
        </tbody>
    </table>
    <% if @counter == 0 %>
        <%= "Total files: #{@counter}, please upload your file first." %>
    <% else %>
        <%= "Total files: #{@counter}." %>
    <% end %>
</div>